/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1 {
    color: #333;
}
.container {
    width: 80%;
    max-width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    margin: 10px 0;
}
a, input[type="submit"], .button {
    display: block; /* Garante que os botões ocupem toda a largura */
    width: 80%; /* Largura dos botões ajustada para 70% */
    padding: 12px 20px;
    font-size: 16px;
    color: rgba(71, 71, 71, 0.8);
    /* Deixa a fonte bold */
    font-weight: bold;
    background-color: #e1e1e1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    margin: 10px auto; /* Centraliza e adiciona espaçamento entre os botões */
    text-decoration: none; /* Remove o sublinhado dos links */
}

a:hover, input[type="submit"]:hover, .button:hover {
    background-color: rgba(222, 38, 38, 0.8); /* Cor mais clara com transparência ao passar o mouse */
    /* Cor do texto para branco */
    opacity: 0.; /* Aumenta a transparência ao passar o mouse */
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 16px;
}

.success-message {
    margin-top: 20px;
    padding: 15px;
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
}
.back-button {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #6c757d;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.back-button:hover {
    background-color: #5a6268;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.data-table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}
.data-table tr:nth-child(even) {
    background-color: #f9f9f9;
}